<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <div class="left">
            <h1>SISTEMA DE DETECCIÓN DE INTRUSOS (IDS)</h1>
            <p>Monitoreo en tiempo real, detección de ataques y seguridad avanzada.</p>

            <div class="buttons">
                <div class="button-row">
                    <a href="/network_monitoring" class="btn">Monitoreo de Red</a>
                    <a href="/port_scan" class="btn">Escaneo de Puertos</a>
                </div>
                <div class="button-row">
                    <a href="/usb_alerts" class="btn">Detección de USB Conectados</a>
                    <a href="/file_analysis" class="btn">Análisis de Archivos</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="shield-container">
                <div class="hologram"></div>
                <img src="static/shield.svg" alt="Shield" class="shield">
                <img src="static/lock.svg" alt="Lock" class="lock">
            </div>
        </div>
    </div>

</body>
</html>

